body{
    font-family: 'Jost', sans-serif;
    background-color: #2e2424;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}
header {
    position: fixed; /* Fixa o header no topo */
    top: 0;          /* Alinha ao topo da viewport */
    left: 0;         /* Alinha à esquerda */
    right: 0;        /* Alinha à direita */
    width: 95%;     /* Ocupa toda a largura */
    z-index: 1000;   /* Garante que fique acima de outros elementos */
    height: 80px; /* Define uma altura fixa */
    border: 1px solid #000000;
    border-top: 0px;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    background-color: #6d3232;
    /* Adicione padding se necessário */
    padding: 10px 0;
    
    /* Box-sizing para incluir bordas no cálculo da largura */
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
}
svg{
    width: 60px;
    height: 60px;
}
main{
    background-color: white;
    border: 1px solid #000000;
    border-radius: 15px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-areas: "sidebar content index";
    padding-left: 1rem auto;
    padding-right: 1rem auto;
    margin-top: 120px; /* Ajuste este valor conforme a altura do seu header */
}
.sidebar{
    
    grid-area: sidebar;
    border-right: 1px solid #000000;
    padding-right: min(1rem);
    padding-left:1rem;
}
.index{
    grid-area: index;
    border-left: 1px solid #000000;
    padding-left: min(1rem);
    padding-right: min(1rem);
}
ul{
    list-style: none;
    padding: 5px
}
ul.ulDisc{
    list-style-type: disc;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: rgb(38, 0, 0);
}
footer{
    font-size: 15px;
    margin-top: 10px;
    min-height: 100px;
    border-top: 1px solid #000000;
    color: aliceblue;
}
#sources a{
    font-size: 12px;
    color: #ffffff;
}
figure{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
q{
    font-style: italic;
    color: #6d3232;
}